
body {
    background-color: #83EAD0 ;
    color: #008EB1;
    height: auto;
    width: auto;
    font-style: normal;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
 }

    hr {
      text-align: center;
      color: #009B77;
      border: none;
      border-top: 5px dotted;
      width: 100%;
    }

a {
  color:#FF0080;
}

a:hover {
background-color:#FF0080 ;
color: rgb(245, 242, 79) ;
}

.mainpicture {
  text-align: center;
}

h2 {
font-size: 1.5em;
}

#hInfo {
font-style: italic;
font-weight: bold;
}
